h1{
    background-color: blue;
    color: wheat;
}
table  {
    color: wheat;
    width: 500px;
    height: 200px;
}
img{
    border: solid black;
    margin: 20px;
}
a{
   
    width: 5px; 
    height: 5px;
    margin: 20px;
}